{
  "environment": {
    "name": "{{ generated.environment }}",
    "credentialName": "{{ credential }}"
  },

  {% if generated.cloud_platform == 'yarn' %}
  "yarn": {
    "yarnQueue": "{{ ycloud_queue }}"
  },
  {% endif %}

  "customDomain": {
    "clusterNameAsSubdomain": false,
    "hostgroupNameAsHostname": false
  },

  "tags": {
    "userDefinedTags": {}
  },

  "placement": {
    {% if generated.cloud_platform == 'openstack' %}
    "availabilityZone": "nova",
    "region": "RegionOne"
    {% elif generated.cloud_platform == 'azure' %}
    "region": "North Europe"
    {% elif generated.cloud_platform == 'aws' %}
    "availabilityZone": "us-west-1a",
    "region": "us-west-1"
    {% else %}
    "region": "default"
    {% endif %}
  },

  "authentication": {
    {% if generated.cloud_platform == 'openstack' %}
    "publicKeyId": "hwqe-keypair"
    {% else %}
    "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC5Zx7QmkQF+YIYxZ3z7KeD/CJAkzijm49QHQDIA0AnY2rLqFj09ZvKKFPVh+wnEU4PhKMVAGlBBjlItumxwx90BTstgnQqXK09GR4KBQAq2vpwUz4prkllj84wMrBlIAWcWXSJxO5zI4atcIDBnUw+W0dfgjMzgKAfnrg45xT+rMzQw41t1rtcURO3VgmvDHt1xAAZ/Zo5XjguOhIhdR9IOyTwyowHHcm2IGeuLuOeupAhcQc+7tEX+Jj8fxs9+0tbV4HYG3kM1Xe2r4kq5OPtM4YVOHRvqwmjmClR+i21iAs3EUWVRHI1KYywrULak7u01Y6PnI3pJ7pcO4HchgSR"
    {% endif %}
  },

  "network": {
    {% if generated.cloud_platform == 'openstack' %}
    "openstack": {
      {# See Openstack > Network > Networks #}
      "subnetId": "0404bf21-db5f-4987-8576-e65a4a99b14e",
      "networkId": "a5ad7a1d-d3a6-4180-8d61-07a23f6fb449",
      "networkingOption": "provider"
    }
    {% endif %}
  },

  "image": {
    "catalog": "{{ image.catalog }}",
    "id": "{{ image.uuid }}"
  },

  "cluster": {
    "name": "{{ generated.cluster_name }}",
    "userName": "{{ username }}",
    "password": "{{ password }}",
    {% if generated.cluster_type == ClusterType.DATALAKE %}
    "databases": [
      "{{ datalake_config.hive_metastore_db_name }}"
    ],
    {% else %}
    "databases": [],
    {% endif %}
    "blueprintName": "{{ generated.cluster_name }}",
    {# TODO: Add Ambari #}
    "cm": {
      "repository": {
        {# TODO: Versioning #}
        "version": "6.1.1",
        "baseUrl": "https://archive.cloudera.com/cm6/6.1.1/redhat7/yum/",
        "gpgKeyUrl": "https://archive.cloudera.com/cm6/6.1.1/redhat7/yum/RPM-GPG-KEY-cloudera"
      },
      "products": [
        {
          "name": "CDH",
          "version": "6.1.1-1.cdh6.1.1.p0.875250",
          "parcel": "https://archive.cloudera.com/cdh6/6.1.1/parcels/"
        }
      ]
    }
  },

  "instanceGroups": [
  {
      "nodeCount": 1,
      "name": "{{ 'master' }}",
      "type": "{{ 'GATEWAY' }}",
      "recoveryMode": "MANUAL",

      "template": {
        {% if generated.cloud_platform == 'yarn' %}
        "yarn": {
          "memory": 8192,
          "cpus": 4
        },
        "instanceType": "",
        "rootVolume": {
          "size": 100
        },
        "attachedVolumes": [
          {
            "size": 0,
            "count": 0
          }
        ]
        {% endif %}
      }
    },
    {
      "nodeCount": 4,
      "name": "{{ 'worker' }}",
      "type": "{{ 'CORE' }}",
      "recoveryMode": "MANUAL",

      "template": {
        {% if generated.cloud_platform == 'yarn' %}
        "yarn": {
          "memory": 8192,
          "cpus": 4
        },
        "instanceType": "",
        "rootVolume": {
          "size": 100
        },
        "attachedVolumes": [
          {
            "size": 0,
            "count": 0
          }
        ]
        {% endif %}
      }
    }
  ]
}
